<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app>
            <v-expansion-panels>
                <prod-item v-for="item in items" :item="item" :key="item.id">
                </prod-item>
            </v-expansion-panels>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="text/x-template" id="tmpl-prod-item">
        <v-expansion-panel>
            <v-expansion-panel-header>
                <template v-slot:default="{ open }">
                    <v-row no-gutters>
                        <v-col cols="4" class="font-weight-bold">
                            {{ item.text }} - ${{ item.price }}
                        </v-col>
                        <v-col cols="8"
                               class="text--secondary">
                            <v-fade-transition leave-absolute>
                                <span v-if="open"
                                      key="0">
                                    ...正在點餐...
                                </span>
                                <span v-else
                                      key="1">
                                </span>
                            </v-fade-transition>
                        </v-col>
                    </v-row>
                </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <v-row>
                    <v-col cols="6">
                        <v-btn-toggle rounded
                                      mandatory
                                      color="red">
                            <v-btn v-bind="adj_size" v-for="size in item.size" :value="size">
                                <span class="font-weight-black">{{ size }}</span>
                            </v-btn>
                        </v-btn-toggle>
                    </v-col>
                    <v-col cols="2">
                        <v-dialog v-model="dialog"
                                  persistent>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs"
                                       v-on="on"
                                       small
                                       color="primary">
                                    料
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">選擇料理</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" class="text-center">
                                                <v-btn-toggle rounded
                                                              multiple
                                                              color="deep-purple accent-3">
                                                    <v-btn v-for="add in item.add" :value="add">
                                                        <span class="font-weight-black">{{ add }}</span>
                                                    </v-btn>
                                                </v-btn-toggle>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1"
                                           text
                                           @click="dialog = false">
                                        取消
                                    </v-btn>
                                    <v-btn color="blue darken-1"
                                           text
                                           @click="dialog = false">
                                        儲存
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-col>
                    <v-col cols="2">
                        <v-text-field v-model="item.Q"
                                      v-bind="adj_size"
                                      placeholder="數量"
                                      type="number"
                                      inputmode="numeric"
                                      patter="[0-9]*"
                                      label="數量"
                                      dense>
                        </v-text-field>
                    </v-col>
                    <v-col cols="2">
                        <v-btn icon color="success">
                            <v-icon x-large>mdi-plus-circle</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </script>
    <script>
        Vue.component('prod-item', {
            props: ['item'],
            template: '#tmpl-prod-item',
            data: () => ({
                dialog: false,
            }),
            computed: {
                adj_size() {
                    let sizeStr = {};
                    switch (this.item.size.length) {
                        case 4:
                            sizeStr = { 'x-small': true };
                            break;
                    }
                    return sizeStr;
                }
            }
        });

        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                items: [
                    { id: 1, text: '排骨飯', price: 75, size: ['小', '中', '大'], add: ['加飯', '加蛋', '滷汁', '芝麻'], Q: null },
                    { id: 2, text: '爌肉飯', price: 75, size: ['S', 'M', 'L', 'XL'], add: ['加飯', '加蛋'], Q: null },
                ],                
            }),
        });        
    </script>
</body>
</html>